# Slack Bot Token (xoxb-...)  ※ SLACK_APP_TOKEN は不要
SLACK_BOT_TOKEN=xoxb-xxxxxxxxxxxx

JOB_SALES_CHANNEL_ID=CRCFNJK1B
REPITTE_HOTEL_CHANNEL_ID=CND03LM1C

HIRAMOTO_USER_ID=U01PN2H5WKC
TAKESUE_USER_ID=U047RJEE92N

REPITTE_TEAM_GROUP_ID=S0148L13J3D
